<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewData["Title"] - Brimborium.Extensions.Http.Sample_Server</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
